<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Details</title>
</head>
<body>
<div th:replace="~{fragments :: header(${totalEmployees})}"></div>

<h1>Employee Details</h1>
<p><strong>ID:</strong> <span th:text="${employee.id}"></span></p>
<p><strong>First Name:</strong> <span th:text="${employee.firstName}"></span></p>
<p><strong>Last Name:</strong> <span th:text="${employee.lastName}"></span></p>
<p><strong>Email:</strong> <span th:text="${employee.email}"></span></p>
<p><strong>Salary:</strong> <span th:text="${employee.salary}"></span></p>
<p><strong>Currency:</strong> <span th:text="${employee.currency}"></span></p>
<p><strong>Country:</strong> <span th:text="${employee.country}"></span></p>

<a th:href="@{/}">Back to list</a>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
