<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MainPage</title>
</head>
<body>

<div th:replace="~{fragments :: header(${totalEmployees})}"></div>

<h2>Key employees</h2>
<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Salary</th>
    <th>Currency</th>
    <th>Country</th>
  </tr>
  <tbody>
  <tr th:each="employee : ${keyEmployees}">
    <td th:text="${employee.firstName}">First Name</td>
    <td th:text="${employee.lastName}">Last Name</td>
    <td th:text="${employee.email}">Email</td>
    <td th:text="${employee.salary}">Salary</td>
    <td th:text="${employee.currency}">Currency</td>
    <td th:text="${employee.country}">Country</td>
  </tr>

  </tbody>
</table>

<h2>Salaries by Currency</h2>
<table border="1">
  <thead>
  <tr>
    <th>Currency</th>
    <th>Total Salary</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="entry : ${salaryByCurrency}">
    <td th:text="${entry.key}">Currency</td>
    <td id="salary-${entry.key}" th:text="${entry.value}">Total Salary</td>
  </tr>
  </tbody>
</table>

<h2>Employees</h2>
<select id="countryFilter">
  <option value="">All</option>
  <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
</select>

<table id="employeeTable" border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Salary</th>
    <th>Currency</th>
    <th>Country</th>
  </tr>
  </thead>
  <tbody>
  <!-- Tabela pracowników -->
  <tr th:each="employee : ${employees}" class="employeeRow" th:data-country="${employee.country}">
    <td th:text="${employee.id}">ID</td>
    <td th:text="${employee.firstName}">First Name</td>
    <td th:text="${employee.lastName}">Last Name</td>
    <td><a th:href="@{/employee-by-id/{id}(id=${employee.id})}" th:text="${employee.email}">Email</a></td>
    <td th:text="${employee.salary}">Salary</td>
    <td th:text="${employee.currency}">Currency</td>
    <td th:text="${employee.country}">Country</td>
  </tr>
  </tbody>
</table>

<div th:replace="~{fragments :: footer}"></div>

<script>
  document.getElementById('countryFilter').addEventListener('change', function() {
    var selectedCountry = this.value;
    var rows = document.querySelectorAll('#employeeTable .employeeRow');

    rows.forEach(function(row) {
      var rowCountry = row.getAttribute('data-country');
      if (selectedCountry === "" || rowCountry === selectedCountry) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  });
</script>

<script>
  document.querySelectorAll('[id^="salary-"]').forEach(function(cell) {
    var salary = parseFloat(cell.innerText);
    cell.innerText = salary.toLocaleString();
  });
</script>
</body>
</html>
