<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MainPage</title>
</head>
<body>
<h1>Welcome on Main Page</h1>
<p>Total Employees: <span th:text="${totalEmployees}"></span></p>

<h2>Key employees</h2>
<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Salary</th>
    <th>Currency</th>
    <th>Country</th>
  </tr>
  <tbody>
  <tr th:each="employee : ${keyEmployees}">
    <td th:text="${employee.firstName}">First Name</td>
    <td th:text="${employee.lastName}">Last Name</td>
    <td th:text="${employee.email}">Email</td>
    <td th:text="${employee.salary}">Salary</td>
    <td th:text="${employee.currency}">Currency</td>
    <td th:text="${employee.country}">Country</td>
  </tr>

  </tbody>
</table>

<h2>Employees</h2>
<select id="countryFilter">
  <option value="">All</option>
  <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
</select>

<table id="employeeTable" border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Salary</th>
    <th>Currency</th>
    <th>Country</th>
  </tr>
  </thead>
  <tbody>
  <!-- Tabela pracowników -->
  <tr th:each="employee : ${employees}" class="employeeRow" th:data-country="${employee.country}">
    <td th:text="${employee.id}">ID</td>
    <td th:text="${employee.firstName}">First Name</td>
    <td th:text="${employee.lastName}">Last Name</td>
    <td><a th:href="@{/employee-by-id/{id}(id=${employee.id})}" th:text="${employee.email}">Email</a></td>
    <td th:text="${employee.salary}">Salary</td>
    <td th:text="${employee.currency}">Currency</td>
    <td th:text="${employee.country}">Country</td>
  </tr>
  </tbody>
</table>

<script>
  document.getElementById('countryFilter').addEventListener('change', function() {
    var selectedCountry = this.value; // Wybrany kraj
    var rows = document.querySelectorAll('#employeeTable .employeeRow'); // Wiersze w tabeli

    rows.forEach(function(row) {
      var rowCountry = row.getAttribute('data-country'); // Kraj z atrybutu data-country
      if (selectedCountry === "" || rowCountry === selectedCountry) {
        row.style.display = ''; // Pokaż wiersz
      } else {
        row.style.display = 'none'; // Ukryj wiersz
      }
    });
  });
</script>
</body>
</html>
